@import url("https://fonts.googleapis.com/css2?family=PT+Sans+Narrow&display=swap");
@font-face {
  font-family: "diablolight";
  src: url("./diablo_light-webfont.woff2") format("woff2"),
    url("./diablo_light-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #111;
  color: #fff;
  font-family: "diablolight", sans-serif;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  overflow: hidden;
  margin: 0;
}

h1 {
  position: fixed;
  top: 50px;
  font-size: 4rem;
  text-align: center;
  margin: 0px;
}

h3 {
  position: fixed;
  top: 100px;
  font-size: 1rem;
  letter-spacing: 1px;
  text-align: center;
  margin: 20px 0;
}

span {
  font-size: 1.25rem;
  color: yellow;
}

.container {
  position: absolute;
  top: 20vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  height: 300px;
  width: 100vw;
  margin: 50px 0;
}

.hero {
  display: flex;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  cursor: pointer;
  flex-direction: column;
  align-items: center;
  width: 90px;
  height: 100px;
  margin: 20px 15px;
  padding: 15px 20px;
  opacity: 0.5;
  transform: scale(1);
  transition: transform 0.6s ease-in-out;
}

.hero.active {
  opacity: 1;
  transform: scale(1.5);
}

.hero.active p {
  color: yellow;
}

.hero:hover {
  opacity: 1;
}

img {
  width: 80px;
  height: 160px;
}

.hero p {
  font-family: "PT Sans Narrow", sans-serif;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 2px;
}

.btn-container {
  position: fixed;
  bottom: 25vh;
  display: flex;
}

.btn-container button {
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  background-color: transparent;
  border: 2px solid #fff;
  font-size: 2rem;
  padding: 8px 10px 12px 10px;
  margin: 40px 10px;
  border-radius: 10px;
  transform: scale(1);
  transition: transform 0.3s ease;
}

.btn-container button:hover {
  border: 2px solid yellow;
}

.btn-container button:active {
  transform: scale(0.9);
  outline: 0;
}

@media (max-width: 840px) {
  .btn-container {
    margin-top: 200px;
  }

  h1 {
    font-size: 3rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  .hero {
    transform: scale(0.8);
    padding: 10px 15px;
    margin: 15px 10px;
  }

  .hero.active {
    transform: scale(1.2);
  }

  .btn-container {
    margin-top: 200px;
    bottom: 10vh;
  }

  .btn-container button {
    font-size: 1.5rem;
  }
}

@media (max-width: 600px) {
  .btn-container {
    margin-top: 50px;
  }

  .hero {
    transform: scale(0.6);
    padding: 8px 10px;
    margin: 12px 8px;
  }

  .hero.active {
    transform: scale(0.8);
  }

  h1 {
    font-size: 2rem;
    margin: 5px 0;
  }

  h3 {
    font-size: 0.8rem;
    margin: 5px 0;
  }

  span {
    font-size: 0.6rem;
  }

  .btn-container {
    margin-top: 20px;
    bottom: 8vh;
  }

  .btn-container button {
    font-size: 1rem;
  }
}

@media (max-width: 520px) {
  .hero {
    transform: scale(0.5);
    padding: 5px 10px;
    margin: 8px 6px;
  }

  .hero.active {
    transform: scale(0.75);
  }

  .btn-container {
    margin-top: 20px;
    bottom: 5vh;
  }
}
